In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/world-deaths-and-causes-1990-2019/annual_deaths_by_causes.csv
/kaggle/input/full-filled-brain-stroke-dataset/full_data.csv
/kaggle/input/full-filled-brain-stroke-dataset/full_filled_stroke_data (1).csv

# Importing python libraries

In [2]:
import pandas as pd
import numpy as np

# Loading dataset

In [3]:
data=pd.read_csv("/kaggle/input/full-filled-brain-stroke-dataset/full_filled_stroke_data (1).csv")

In [4]:
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,31.555602,never smoked,1
1,Female,59.0,0,0,Yes,Private,Rural,76.15,30.242937,Unknown,1
2,Male,78.0,0,1,Yes,Private,Urban,219.84,30.698951,Unknown,1
3,Male,57.0,0,1,No,Govt_job,Urban,217.08,33.808410,Unknown,1
4,Male,58.0,0,0,Yes,Private,Rural,189.84,31.378534,Unknown,1
...,...,...,...,...,...,...,...,...,...,...,...
196,Male,41.0,0,0,No,Private,Rural,70.15,29.756631,formerly smoked,0
197,Male,40.0,0,0,Yes,Private,Urban,191.15,31.124172,smokes,0
198,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.798304,smokes,0
199,Male,40.0,0,0,Yes,Private,Rural,83.94,29.951301,smokes,0
200,Female,80.0,1,0,Yes,Private,Urban,83.75,29.097421,never smoked,0

# Checking null Values

In [5]:
data.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

# Label Encoding

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data["gender"]=le.fit_transform(data["gender"])
data["ever_married"]=le.fit_transform(data["ever_married"])

data["work_type"]=le.fit_transform(data["work_type"])

data["smoking_status"]=le.fit_transform(data["smoking_status"])
data["Residence_type"]=le.fit_transform(data["Residence_type"])

data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,61.0,0,0,1,2,0,202.21,31.555602,2,1
1,0,59.0,0,0,1,1,0,76.15,30.242937,0,1
2,1,78.0,0,1,1,1,1,219.84,30.698951,0,1
3,1,57.0,0,1,0,0,1,217.08,33.808410,0,1
4,1,58.0,0,0,1,1,0,189.84,31.378534,0,1
...,...,...,...,...,...,...,...,...,...,...,...
196,1,41.0,0,0,0,1,0,70.15,29.756631,1,0
197,1,40.0,0,0,1,1,1,191.15,31.124172,3,0
198,0,45.0,1,0,1,0,0,95.02,31.798304,3,0
199,1,40.0,0,0,1,1,0,83.94,29.951301,3,0
200,0,80.0,1,0,1,1,1,83.75,29.097421,2,0

In [7]:
 data["stroke"].value_counts()

0    161
1     40
Name: stroke, dtype: int64

# Slicing dataset

In [8]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

Imbalencing Technique 
# SMOTE

In [9]:
from imblearn.over_sampling import SMOTE
s=SMOTE()
x_data,y_data=s.fit_resample(x,y)

In [10]:

data.corr()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
gender,1.000000,-0.054463,-0.054535,0.078625,0.088792,-0.004495,-0.056752,0.015158,-0.023294,-0.127277,-0.042307
age,-0.054463,1.000000,0.234700,0.309081,0.627670,-0.282330,0.079553,0.182658,0.553408,0.040225,0.353495
hypertension,-0.054535,0.234700,1.000000,-0.054463,0.165317,-0.036921,-0.136225,0.002787,0.334970,0.116546,-0.098721
heart_disease,0.078625,0.309081,-0.054463,1.000000,0.139152,-0.000769,0.069863,0.155009,0.110206,-0.041665,0.014560
ever_married,0.088792,0.627670,0.165317,0.139152,1.000000,-0.251528,0.032378,0.184449,0.539480,0.140637,0.123730
work_type,-0.004495,-0.282330,-0.036921,-0.000769,-0.251528,1.000000,-0.036180,-0.073834,-0.536741,-0.229700,-0.011964
Residence_type,-0.056752,0.079553,-0.136225,0.069863,0.032378,-0.036180,1.000000,0.029510,-0.049307,-0.117382,0.122439
avg_glucose_level,0.015158,0.182658,0.002787,0.155009,0.184449,-0.073834,0.029510,1.000000,0.404983,0.009648,-0.040227
bmi,-0.023294,0.553408,0.334970,0.110206,0.539480,-0.536741,-0.049307,0.404983,1.000000,0.292967,0.003663
smoking_status,-0.127277,0.040225,0.116546,-0.041665,0.140637,-0.229700,-0.117382,0.009648,0.292967,1.000000,-0.240007
stroke,-0.042307,0.353495,-0.098721,0.014560,0.123730,-0.011964,0.122439,-0.040227,0.003663,-0.240007,1.000000

# Feature Scaling

In [11]:

from sklearn.preprocessing import MinMaxScaler
mm=MinMaxScaler()
x_scaled=mm.fit_transform(x_data)

# Spliting dataset in train and test

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y_data,test_size=0.2,random_state=11)

# Model  fitting

In [13]:
from sklearn.svm import SVC
ss=SVC(kernel="rbf",random_state=3)
ss.fit(x_train,y_train)

SVC(random_state=3)

In [14]:
y_pred=ss.predict(x_test)
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1])

# Accuracy Score

In [15]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_test,y_pred)*100
ac

89.23076923076924